<mat-card>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <mat-card-actions>
      <div class="cancelCnt">
        <button class="cancelBtn" (click)="onCancel()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </mat-card-actions>

    <mat-card-content>
      <mat-form-field>
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" matInput />
      </mat-form-field>
      <mat-form-field>
        <label for="imagePath">Image Url</label>
        <input
          type="text"
          id="imagePath"
          formControlName="imagePath"
          matInput
          #imagePath
        />
      </mat-form-field>
      <div>
        <img [src]="imagePath.value" class="img-responsive" />
      </div>
      <mat-form-field>
        <label for="description">Description</label>
        <textarea
          type="text"
          id="description"
          matInput
          formControlName="description"
          rows="6"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <label for="steps">Steps</label>
        <textarea
          type="text"
          id="steps"
          matInput
          formControlName="steps"
          rows="6"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <label for="tags">Tags</label>
        <textarea
          type="text"
          id="tags"
          matInput
          formControlName="tags"
          rows="6"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <label for="tags">Area</label>
        <textarea
          type="text"
          id="area"
          matInput
          formControlName="area"
          rows="6"
        ></textarea>
      </mat-form-field>
      <div formArrayName="ingredients">
        <p>Ingredients</p>
        <div
          *ngFor="let ingredientCtrl of ingredientsControls; let i = index"
          [formGroupName]="i"
          style="margin-top: 10px"
        >
          <mat-form-field>
            <input type="text" id="name" matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field>
            <input
              type="number"
              id="amount"
              matInput
              formControlName="amount"
            />
          </mat-form-field>
          <button type="button" (click)="onDeleteIngredient(i)">X</button>
          <button type="button" (click)="onAddIngredient()">
            Add Ingredient
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!recipeForm.valid"
        (click)="updateRecipe()"
      >
        Save
      </button>
    </mat-card-actions>
  </form>
</mat-card>
