input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.img-responsive {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

mat-card {
  height: 55vh;
  overflow: scroll;
  width: 20vw;
}

.cancelBtn {
  background-color: transparent;
  border: none;
}

.cancelCnt {
  display: flex;
  justify-content: end;
  margin: 0.5rem;
}
