<div class="detailsCnt">
  <mat-card class="details">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <p class="category">{{ recipe.strCategory }}</p>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onAddToShoppingList()">
        Add To Shopping list
      </button>
      <button mat-menu-item (click)="onEditRecipe()">Edit recipe</button>
      <button mat-menu-item (click)="onDeleteRecipe()">Delete Recipe</button>
    </mat-menu>
    <!-- <img [src]="recipe.strTags" style="max-height: 200px" /> -->
    <div>
      <div class="img">
        <img
          [src]="recipe.strMealThumb"
          alt="{{ recipe.name }}"
          class="image-responsive mat-card-image"
        />
      </div>
    </div>
    <mat-card-header>
      <mat-card-title>{{ recipe.strMeal }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="moreDet">
        <p>{{ recipe.strInstructions }}</p>
      </div>
    </mat-card-content>
    <mat-card-content>
      <ul>
        <ng-container *ngFor="let index of getIngredientIndices()">
          <li
            *ngIf="
              recipe['strIngredient' + index] && recipe['strMeasure' + index]
            "
          >
            {{ recipe["strIngredient" + index] }} -
            {{ recipe["strMeasure" + index] }}
          </li>
        </ng-container>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
