mat-card {
  height: 55vh;
  overflow: scroll;
}

.mat-card::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

mat-card-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card-title,
mat-card-subtitle {
  font-size: 18px;
  font-weight: bold;
}

mat-card-content ul {
  list-style-type: none;
  padding: 0;
}

mat-card-content ul li {
  margin-bottom: 8px;
}

mat-menu {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detailsCnt {
  width: 20vw;
}

.moreDet {
  display: flex;
  flex-direction: column;
}

.duration {
}

.category {
  margin-top: 2px;
}
