<mat-card>
  <mat-card-header>
    <mat-card-title> Shopping List </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>
      <app-shopping-edit></app-shopping-edit>
      <hr />
      <mat-list>
        <mat-list-item
          style="cursor: pointer"
          *ngFor="let ingredient of ingredients; let i = index"
          (click)="onEditItem(i)"
        >
          <div mat-list-avatar></div>
          <div mat-line class="ingredient-details">
            <span class="ingredient-name">{{ ingredient.name }}</span>
            <span class="ingredient-amount">{{ ingredient.amount }}</span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
