.mat-card.recipes-card {
  /* max-width: 800px; */
  margin: 20px;
  padding: 20px;
  width: 70vw;
}

.recipes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes-list-container {
  margin: 20px;
  width: 20vw;
}

.recipe-details-container {
  /* margin: 20px;
  margin-top: -10vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.recipes-with-button {
  width: fit-content;
}
