.mat-card.recipes-card {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  width: 95vw;
}

.recipes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes-list-container {
  margin: 20px;
}

.recipe-details-container {
  /* margin: 20px;
  width: 30vw;
  margin-top: -10vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
