.mat-card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin: 3rem 0.5rem;
  text-decoration: none;
}

.mat-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-card-image {
  max-height: 100px;
  object-fit: cover;
}

.img-cover {
  width: 80%;
  position: relative;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: -3vh;
  position: relative;
}

.list-group-item-heading {
  font-weight: bold;
}

.list-group-item {
  width: 8vw;
}

.tags {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.list-group-item-area {
  display: flex;
  justify-content: end;
}

.flag-image {
  display: flex;
  width: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}
