.mat-card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin: 3rem 0.5rem;
  text-decoration: none;
}

.mat-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-card-image {
  max-height: 100px;
  object-fit: cover;
}

.img-cover {
  width: 80%;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: -3vh;
}

.list-group-item-heading {
  font-weight: bold;
}

.list-group-item {
  width: 8vw;
}
