<a
  style="cursor: pointer"
  routerLinkActive="active"
  class="list-group-item clearfix mat-card"
  [routerLink]="[index]"
>
  <div class="img-container">
    <p class="list-group-item-area">{{ recipe.strArea }}</p>

    <div class="img-cover">
      <img
        [src]="recipe.strMealThumb"
        class="image-responsive mat-card-image"
        style="max-height: 50px"
      />
    </div>
  </div>
  <div class="mat-card-content">
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ recipe.strMeal }}</h4>

      <p class="category">{{ recipe.strCategory }}</p>

      <div>
        <button class="tags" mat-raised-button>
          {{ recipe.strTags }}
        </button>
      </div>
    </div>
  </div>
</a>
