.recipe-list {
  margin: 1;
}

.recipe-items img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.recipe-items {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  overflow: scroll;
  justify-content: space-evenly;
}
.recipe-items::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
