<div class="mat-elevation-z2">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="mat-form-field">
      <label for="name">Name</label>
      <input matInput type="text" id="name" name="name" ngModel required />
    </div>
    <div class="mat-form-field">
      <label for="amount">Amount</label>
      <input
        matInput
        type="number"
        id="amount"
        name="amount"
        ngModel
        required
        pattern="^[1-9]+[0-9]*$"
      />
    </div>

    <div class="mat-button-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!f.valid"
      >
        {{ editMode ? "Update" : "Add" }}
      </button>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="onDelete()"
        *ngIf="editMode"
      >
        Delete
      </button>
      <button
        mat-raised-button
        type="button"
        color="accent"
        (click)="onClear()"
      >
        Clear
      </button>
    </div>
  </form>
</div>
